@import url("https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap");

* {
  overflow: hidden;
}
.title {
  padding-top: 5%;
  font-size: 50px;
  font-family: "Shadows Into Light", cursive;
  text-align: center;
  position: relative;
}

ion-select {
  color: #545ca7;
  --placeholder-color: #971e49;
  --placeholder-opacity: 1;
}

.video-background {
  width: 1920px;
  height: 1250px;
  max-height: 1080px;
  position: fixed;
  pointer-events: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -2;
}

.video-foreground,
.video-background iframe {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.stationName {
  font-family: "Shadows Into Light", cursive;
  padding: 5px;
  font-weight: 500;
  font-size: 15px;
  color: #1a2050;
}

.selectedGenre {
  position: absolute;
}

ion-content {
  height: 350px;
  margin: 20px;
}

.sidebar {
  display: flex;
  align-items: center;
  margin-top: 10px;
  /* padding-top: 10%; */
  padding-bottom: 0px;
  margin-bottom: 0px;
  width: 100%;
}

@media (min-aspect-ratio: 16/9) {
  .video-foreground {
    height: 300%;
    top: -100%;
  }
}

@media (max-aspect-ratio: 16/9) {
  .video-foreground {
    width: 300%;
    left: -100%;
  }
}
@media all and (max-width: 600px) {
  .vid-info {
    width: 50%;
    padding: 0.5rem;
  }
  .vid-info h1 {
    margin-bottom: 0.3rem;
  }
}
@media all and (max-width: 500px) {
  .vid-info .acronym {
    display: none;
  }
}
