@import url("https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap");

.title {
  padding-top: 5%;
  font-size: 50px;
  font-family: "Shadows Into Light", cursive;
  text-align: center;
}

ion-select {
  color: #545ca7;

  --placeholder-color: #971e49;

  --placeholder-opacity: 1;
}
